.navbar-brand {
    padding-left: 2em;
}


body {
    background-color:#131210;
      font-family: "Cormorant", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: #edbe1c;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}


.links {
    position: inherit;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    color: #fec00f;
    text-decoration: none;

}

a:link {
    color: #fec00f;
    text-decoration: none;

}

/* visited link */
a:visited {
    color: #B39747;
}

/* mouse over link */
a:hover {
    color: #90191C;
}

/* selected link */
a:active {
    color: #CDA6C1;
}